<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Family <%= family %> not found</title>
  </head>
  <body>
   	<div id="message">
      The family <%= family %> was not found, check your url or search again.
   	</div>
  </body>
</html>